.password-input-container {
    position: relative;
    width: 100%;
}

.password-input-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.password-input-wrapper {
    display: flex;
    align-items: center;
}

.password-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;
}

.password-input:focus {
    border-color: #007bff;
}

.password-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: -35px;
    /* Adjust this value depending on the icon size */
    outline: none;
    color: #555;
}

.password-toggle:hover {
    color: #007bff;
}